@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Ysabeau+SC:wght@900;1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

.protocol-fields {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
.protocol-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 3rem;

}
.cursive {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

input {
  font-family: "Oswald", sans-serif;
}

@media only screen and (max-width: 600px) {
  .addedSubstanceBlock {
    font-size: 15px;
    position: relative;
  }
  .fix {
    width: 100%;
  }
}
